<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experimental Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet2New.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    function startExperiment() {
        var adversarialValue = document.getElementById('training-slider').value;
        var testName = document.getElementById('test-slider').value;
        var trainName = document.getElementById('train-slider').value;
        var epochsValue = document.getElementById('epochs-slider').value;
        var experimentsValue = document.getElementById('experiments-slider').value;

        $.ajax({
            url: '/start-experiment',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                adversarial: adversarialValue,
                test: testName,
                train: trainName,
                epochs: epochsValue,
                experiments: experimentsValue
            }),
            success: function(response) {
            console.log(response);
            if (response.graph) {
                var imgSrc = `data:image/png;base64,${response.graph}`;
                document.querySelector('.bottom-left').innerHTML = `<img src="${imgSrc}" alt="Experiment Result" style="max-width:100%; height:auto;"/>`;
            }
            alert('Experiment started! Status: ' + response.status);
            },
            // success: function(response) {
            //     console.log(response);
            //     alert('Experiment started! Status: ' + response.status);
            // },
            error: function(error) {
                console.log(error);
                alert('Failed to start experiment.');
            }
        });
    }
    </script>
</head>
<body>
    <div class="banner">
        <h1>Experimental Dashboard</h1>
    </div>
    <div class="button-container">
        <button onclick="showPage('page1')">Page 1</button>
        <button onclick="showPage('page2')">Page 2</button>
    </div>
    <div class="main-content" id="page1">
        <p>Run your own adversarial experiment on a Convolutional Neural Network pre-trained on the MNIST dataset!</p>
        <div class="grid-container"> 
            <div class="top"> 
                <div class="slider-container">
                    <label for="training-slider" class="slider-label">Adversarial% training data used:</label>
                    <input type="range" class="slider" id="training-slider" min="0" max="100" step="25" value="0">
                    <div class="scale">
                        <div data-value="0.00"></div>
                        <div data-value="0.25"></div>
                        <div data-value="0.5"></div>
                        <div data-value="0.75"></div>
                        <div data-value="1.00"></div>
                    </div>
                </div>
                <div class="slider-container">
                    <label for="test-slider" class="slider-label">Adversarial Test Data:</label>
                    <input type="range" class="slider" id="test-slider" min="0" max="100" step="25" value="0">
                    <div class="scale">
                        <div data-value="White Square Right"></div>
                        <div data-value="White Square Random"></div>
                        <div data-value="FDM"></div>
                        <div data-value="Random FDM Value"></div>
                        <div data-value="Random FDM Location"></div>
                    </div>
                </div>
                <div class="slider-container">
                    <label for="train-slider" class="slider-label">Adversarial Train Data:</label>
                    <input type="range" class="slider" id="train-slider" min="0" max="100" step="25" value="0">
                    <div class="scale">
                        <div data-value="White Square Right"></div>
                        <div data-value="White Square Random"></div>
                        <div data-value="FDM"></div>
                        <div data-value="Random FDM Value"></div>
                        <div data-value="Random FDM Location"></div>
                    </div>
                </div>
                <div class="slider-container">
                    <label for="epochs-slider" class="slider-label">Epochs:</label>
                    <input type="range" class="slider" id="epochs-slider" min="1" max="10" step="1" value="1">
                    <div class="scale">
                        <div data-value="1"></div>
                        <div data-value="2"></div>
                        <div data-value="3"></div>
                        <div data-value="4"></div>
                        <div data-value="5"></div>
                        <div data-value="6"></div>
                        <div data-value="7"></div>
                        <div data-value="8"></div>
                        <div data-value="9"></div>
                        <div data-value="10"></div>
                    </div>
                </div>
                <div class="slider-container">
                    <label for="experiments-slider" class="slider-label">Experiments:</label>
                    <input type="range" class="slider" id="experiments-slider" min="1" max="10" step="1" value="1">
                    <div class="scale">
                        <div data-value="1"></div>
                        <div data-value="2"></div>
                        <div data-value="3"></div>
                        <div data-value="4"></div>
                        <div data-value="5"></div>
                        <div data-value="6"></div>
                        <div data-value="7"></div>
                        <div data-value="8"></div>
                        <div data-value="9"></div>
                        <div data-value="10"></div>
                    </div>
                </div>
                <button class="button" onclick="alert('Experiment started!'); startExperiment();">Start Experiment</button>
            </div>
            <!-- Placeholder for other grid cells -->
            <div class="bottom">
                <p>Hi there! Welcome !
                    Here you can test out some of the experiments I tried, once they're all run then you plot will pop up beneath this text.
                    Quick run down:
                    The models you're training are being trained on the MNIST dataset, within each training set theres a guaranteed 
                    42,000 clean samples and 14,000 poisoned samples to implement a backdoor of your choosing. You can control 
                    how many adversarial samples you want to include using the slider over there :p
                    The whole adversarial training dataset consists of 42,000 images, so any percentage you pick will be out of that.
                </p>
                <p>

                    We're all for repeatability over here, but also the training times do take forever so I don't really recommend 
                    choosing more than one epoch or experiment. But you do you !
                </p>
                <p>
                    'Epochs' refers to the number of training iterations the model will go through for the same dataset.
                </p>
                <p>
                    'Experiments' refers to the number of models that will be tested to draw an average. These experiments take
                    time, so please be patient.
                </p>
            </div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
        </div>
    </div>
    
    <div class="main-content" id="page2" style="display:none;">
        <p>This is the content of Page 2.</p>
    </div>
</body>
</html>

<script>
    function showPage(pageId) {
        var pages = document.querySelectorAll('.main-content');
        for (var i = 0; i < pages.length; i++) {
            pages[i].style.display = 'none'; // Hide all pages
        }
        document.getElementById(pageId).style.display = 'block'; // Show the requested page
    }
    </script> 